<?xml version='1.0' encoding='utf-8'?>
    <plugin id="com.zxp.mediaVolume" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
        <name>mediaVolume</name>
        <js-module name="mediaVolume" src="www/mediaVolume.js">
            <clobbers target="cordova.plugins.mediaVolume" />
        </js-module>
        <platform name="android">
            <config-file parent="/*" target="res/xml/config.xml">
                <feature name="mediaVolume">
                    <param name="android-package" value="com.zxp.mediaVolume.mediaVolume" />
                </feature>
            </config-file>
            <config-file parent="/*" target="AndroidManifest.xml" />
            <source-file src="src/android/mediaVolume.java" target-dir="src/com/zxp/mediaVolume/mediaVolume" />
        </platform>
        <platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="mediaVolume">
                    <param name="ios-package" value="mediaVolume" />
                </feature>
            </config-file>
            <source-file src="src/ios/mediaVolume.m" />
        </platform>
    </plugin>
